*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header{
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

header img, header h1{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

/* MAIN */
main{
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  color: #3e424b;
}

/* add section */
section{
  border-bottom: 2px solid #f6f8f9;
  padding: 20px 50px;
}

button{
  padding: 5px 10px;
  border-radius: 5px;
  /* cursor: pointer; */
}

.task{
  background-color: #47adf1;
  color: white;
  border: solid #47adf1;
}

.section{
  background-color: white;
  color: lightgray;
  border: solid lightgray;
}

/* list section */
ul {
  list-style-type: none;
  }

li{
  margin-bottom: 15px;
}

h3{
  margin-bottom: 5px;
}

/* style entity code */
.circle{
  display: inline-block;
  border-radius: 50% 50%;
  border: 1px solid;
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
}

.check{
  color: #64c0a9;
 }

.cross{
  color: red;
 }

 /* style end box */
.box{
  padding: 4px 8px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
 }

.editorial{
  background-color: #47adf1;
 }

.goals{
  background-color: 
  #9b71e3;
}

.recruiting{
  background-color: #64c0a9;
}

.moible{
  background-color: #f19d2f  ;
}

.website{
  background-color: #d863a1;
}

.sales{
  background-color: #b9ce40;
}